{{template "header" .}}

<table>
<caption><h2>{{.Title}}</h2></caption>
{{range $index,$element := .Items}}
<tr>
<th rowspan="13">{{.Name}}</th>
<td>共发言次数</td>
<td>{{.Total}}</td>
</tr>

<tr>
<td>早安次数</td>
<td>{{.MorningCount}}</td>
</tr>

<tr>
<td>早安时间</td>
<td>{{.MorningTime}}</td>
</tr>

<tr>
<td>平均早安时间</td>
<td>{{.MorningTimeAvgStr}}</td>
</tr>

<tr>
<td>回报次数</td>
<td>{{.ReportCount}}</td>
</tr>

<tr>
<td>回报时间</td>
<td>{{.ReportTime}}</td>
</tr>

<tr>
<td>平均回报时间</td>
<td>{{.ReportTimeAvgStr}}</td>
</tr>

<tr>
<td>站桩次数</td>
<td>{{.ZhanZhuangCount}}</td>
</tr>

<tr>
<td>站桩总时长</td>
<td>{{.ZhanZhuangDuration}}</td>
</tr>

<tr>
<td>站桩平均时间</td>
<td>{{.ZhanZhuangAvg}}</td>
</tr>

<tr>
<td>静坐次数</td>
<td>{{.JingZuoCount}}</td>
</tr>

<tr>
<td>静坐总时长</td>
<td>{{.JingZuoDuration}}</td>
</tr>

<tr>
<td>静坐平均时间</td>
<td>{{.JingZuoAvg}}</td>
</tr>

{{end}}
</table>
{{template "footer" .}}


